[user]
	email = simonhughdev@gmail.com
	name = Simon H Moore
    username = simonhughcom

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[alias]
    cm = commit
    ca = commit --amend
    s = status
    co = checkout
    b = branch
    rs = restore
    f = fetch
    fo = fetch origin
    m = merge
    o = checkout
    om = checkout master
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    cmm = commit -m
    df = diff
    dfs = diff --staged
