# Gitignore for dotfiles

# vim
vim/.config/nvim/autoload/
vim/.config/nvim/plugged/
vim/.config/nvim/undodir/
vim/.config/nvim/.netrwhist

# ZSH
zsh/.config/zsh/.zcompdump

# NNN
nnn/.config/nnn/.history*
nnn/.config/nnn/.selection

# mpv
mpv/.config/mpv/watch_later
