# Gitignore for dotfiles

# ignore itself
.dotfiles

# vim
vim/.config/nvim/autoload/
vim/.config/nvim/plugged/
vim/.config/nvim/undodir/
vim/.config/nvim/.netrwhist

# emacs
emacs/.emacs.d/elpa/

# ZSH
zsh/.config/zsh/.zcompdump

# NNN
nnn/.config/nnn/.history*
nnn/.config/nnn/.selection
nnn/.config/nnn/.lastd

# mpv
mpv/.config/mpv/watch_later

# Tridactyl
local.tridactylrc
