--audio-format best
--add-metadata
--geo-bypass
--buffer-size 200M
-o ~/Music/%(extractor)s/%(title)s_%(abr)skbs.%(ext)s
--restrict-filenames
-f bestaudio/best
--cookie ~/sync/cookies/youtube
--user-agent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
